@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

body {
  font-family: 'Source Sans 3', sans-serif;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  min-height: 100% !important;
  height: 100%;
  background-color: #FFFFFF;

  @media screen and (-webkit-min-device-pixel-ratio: 0) {

    select:focus,
    textarea:focus,
    input:focus {
      font-size: 16px;
    }
  }

  @media (min-width: 1024px) {
    background-color: #B3A3A1;
  }
}