@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3&display=swap');

body {
  font-family: 'Source Sans 3', sans-serif;
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    select:focus, textarea:focus, input:focus {
            font-size: 16px;
        }
    }
}